.BuildControls{
    width: 50%;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: 20px auto 20px auto;
    padding: 10px 0;
}